
body {
  // Development night mode! (a.k.a wife-no-hurty-when-trying-sleepy)
  // background-color: #000 !important;
  // -webkit-filter: invert(1);
  // filter: invert(1);
}

#map {
  background-image: url(/images/map.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1300px;
  height: 700px;
  position: relative;

  font-size: 12px;
  font-family: 'Verdana'
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 0;
}

.marker {
  border: 2px solid #333;
  height: 20px;
  width: 20px;
  position: absolute;
  border-radius: 20px;

  &.flight {
    background-image: url(/images/plane.png);
    background-repeat: no-repeat;
    background-position: top left;
  }

}

.route {
  border: 2px solid #999;
}

.planelist {
  width: 50px;
  background-color: #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;

  position: absolute;
  top: 0;
  left: 35px;

  li {
    list-style-type: none;
    font-size: 10px;
    line-height: 10px;
    padding: 2px;
    border-bottom: 1px solid #eee;
  }
}

.customers {
  font-size: 10px;
  position: absolute;
  width: 100px;
  top: 30px;
  left: 0px;
}

.dollar-list {
  background-color: #eee;
  position: absolute;
  width: 140px;
  margin-left: -50px;
  bottom: 20px;
  left: 50%;
  border: 2px solid #666;

  .dollars {
    background-image: url(/images/coins.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 18px;
    margin-left: 5px;
    background-size: contain;
    padding-right: 12px;
    font-weight: bold;
  }
}

.loyalties {
  width: 40px;
  position: absolute;
  bottom: 20px;
  left: -12px;

  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-left: 1px solid #333;

  .loyalty {
    width: 38px;
    height: 4px;

    background-color: #eee;
    border-bottom: 1px solid #333;
    list-style-type: none;

    span {
      display: block;
      height: 3px;

    }
  }
}

.alert {
  position: absolute;

  left: 50%;
  width: 300px;
  margin-left: -150px;

  top: 50%;
  height: 200px;
  margin-top: -100px;

  background-color: #eee;

  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.brain-btn {
  cursor          : pointer;
  border-radius   : 40px;
  border          : 2px solid black;
  margin          : 10px;
  width           : 80px;
  height          : 80px;
  box-shadow      : 2px 2px 10px rgba(0,0,0,0.35);
  display         : inline-block;
  padding         : 7px;
  position        : relative;

  &.api {
    float: left;
  }

  &.loco {
    float: right;
  }

  .api-url {
    position      : absolute;
    right         : 70px;
    width         : 400px;
    margin-top    : 15px;
    border-radius : 30px;
    border        : 2px solid black;
    color         : black;
    padding       : 5px;
  }

  &.selected {
    border     : 2px solid green;
    box-shadow : 0 0 10px green;

    .api-url {
      border : 2px solid green;
    }
  }
}

.help-btn {
  cursor           : pointer;
  background-color : blue;
  color            : white;
  font-weight      : 800;
  font-size        : 24px;
  position         : fixed;
  border-radius    : 30px;
  top              : 10px;
  left             : 10px;
  padding          : 10px 15px;
  box-shadow       : 2px 2px 10px rgba(0,0,0,0.35);
  border           : 2px solid white;
}
